<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <header>
        <h1>Welcome to My Django First Project</h1>
    </header>
    <main>
        <!-- <p>This is the home page of my first Django project.</p> -->
         <p>{{message}}</p>
        <ul>
            {% for number in list %}
                <li>{{ number }}</li>
            {% endfor %}
        </ul>
    </main>
    <footer>
        <p>&copy; 2025 My First Project. All rights reserved.</p>
    </footer>
</body>
</html>